
::selection {
  background-color: #12132d;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Poppins;
}

html {
  scroll-behavior: smooth;
}

:before,
:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 18px;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #05053930;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: linear-gradient(200deg, #040429 30%, #28286efe);
}

/* chatbot */
.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}

.chatbot-toggler span {
  color: #fff;
  position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}

header h2 {
  font-size: 1.4rem;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.chatbox .chat {
  display: flex;
  list-style: none;
}

.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}

.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}

.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #0d084d;
}

.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}

.chat-input span {
  align-self: flex-end;
  color: #0c0341;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}

/* end chatbot Styles */
.links {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.links-1 {
  text-decoration: none;
  color: #040429;
  font-size: 18px;
  font-weight: 700;
}

.navbar {
  background: #ffffff;
  color: #000000;
  z-index: 1;
}

.main-nav {
  display: flex;
  padding: 10px 300px;
  border-bottom: 1px solid #000;
}

.logo,
.nav {
  width: 100%;
}

.logo {
  width: 40%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: end;
}

.social-links {
  display: flex;
  justify-content: end;
  margin-left: auto;
  gap: 10px;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

.links-to-app {
  font-size: 24px;
  color: #000000;
}



.pages {
  color: #000;
}

.ul,
.ol {
  list-style: circle;
}

.banner {
  padding: 30px 150px;
  background: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.501),
      rgba(0, 0, 0, 0.029)
    ),
    url("./media/Java-banner.jpg") center/cover no-repeat;
  color: #fff;
  z-index: -1;
}

.title-course,
.code,
.h2,
.list {
  margin: 25px 0;
}

.title-course {
  margin: 50px 0;
  font-size: 40px;
}

.h2 {
  margin: 25px 0;
}

.list {
  margin: 30px 0;
  width: 70%;
}

.list {
  margin: 5px 0;
}

.container-bottom {
  margin: 50px 0;
  display: flex;
}

.col-1 {
  display: flex;
  width: 250px;
  border: 1px solid #5f5f5f;
  padding: 10px 10px;
  margin: 0 5px;
}

.icon {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  font-size: 180%;
}

.text-span {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.center-btn {
  display: flex;
  margin-left: 5%;
  gap: 50px;
}

.span {
  margin: 4px 0;
  width: 100%;
}

.input-course {
  width: 30%;
}

.register {
  margin: 50px 0;
}

.container-img {
  margin: 10px 0;
}

.container-img img {
  width: 60%;
}

.job-title {
  font-size: 25px;
  margin: 20px;
}

.container {
  margin: 0 100px;
}

div.box {
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.container p {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.container-item {
  display: flex;
  margin: 10px;
}

.item {
  padding: 10px;
}

.container-top {
  margin: 50px 0;
}

.course {
  /* border: 1px solid #5f5f5f; */
  padding: 10px;
  width: 200px;
  text-align: center;
  margin: 10px;
}
.whitText{
  margin: 10px 0;
  font-weight: 500;
  font-size: 24px;
}
.headerImg{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.flexDir{
  flex-direction: column;
}
.block{
  width: 100%;
}
.container-banners {
  margin: 10px;
}

.banner {
  width: 100%;
}


form p {
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  border-radius: 3px;
  padding: 12px 10px;
  border: 1px solid #565656;
}

button {

  background: #040429;
  color: #fff;
  border: none;
  padding: 10px;
}

.register-btn,
.add-course {
  width: 100%;
  background: #040429;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.add-course {
  background: #0000;
  color: #040429;
  border: 1px solid #040429;
  font-size: 12px;
  font-weight: 700;
}

.course-link {
  text-align: center;
  font-size: 15px;
}

.about-btn {
  background: #040429;
  color: #fff;
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.about-btn:hover {
  background: #0a0a35;
}

.feedback {
  padding: 40px;
  background: linear-gradient(
    135deg,
    rgba(56, 49, 49, 0.5),
    rgba(13, 4, 65, 0.1)
  );
}

.feedback h2 {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

.feedback-form {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.feedback-form form {
  width: 50%;
}

.feedback-form p {
  color: #fff;
}

.feedback-form textarea {
  height: 120px;
  margin-bottom: 20px;
}

.feedback-form input[type="submit"] {
  cursor: pointer;
  background: #040429;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.feedback-form input[type="submit"]:hover {
  background: #000;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}


.highlighted-form {
  border: 2px solid #ff9800;
  padding: 10px;
  display: inline-block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.terms {
  margin-top: 20px;
}

.terms label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.terms input[type='checkbox'] {
  margin-right: 8px;
}




/* General styles */
.register_payment-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #ddd; /* Add a border around the payment section */
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px; /* Rounded corners for the border */
}



.register_payment-info {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* Animation for previous and next buttons */
.register_submit-button {
  border: 2px solid #28a745; /* Green border for the button */
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease; /* Smooth transition for click effect */
}

.register_submit-button:active {
  transform: scale(0.95); /* Slightly shrink the button on click */
}

.register_prev-button {
  border: 2px solid #0707ff; /* Yellow border for the button */
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #0707ff;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease; /* Smooth transition for click effect */
}

.register_prev-button:active {
  transform: scale(0.95); /* Slightly shrink the button on click */
}

.flexCol{
  display: flex;
  gap: 50px;

}
.form-sec-2{
  flex-direction: column;
}

.step-indicator {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.terms-and-conditions-button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.terms-and-conditions-button:hover {
  background-color: #0056b3;
}


/* course.css */
.loading-overlay {
  position: fixed;
  top: 900px;
  left: 0;
  width: 100%;
  height: 900px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-size: 20px;

  color: #333;
}

.register_payment-section {
  position: relative;
  
}

.razorpay-container {
  margin-top: 20px;
}



.register_success-section {
  margin-top: 20px;
}

.register_success-section > h3 {
  margin: 10px 0;
  font-size: 30px;
}

.register_success-section > p {
  margin: 15px 0;
}
.register_prev-button, .register_next-button, .register_payment-button {
  transition: background-color 0.3s ease;
}

 .register_next-button:hover, .register_payment-button:hover {
  background-color: #007BFF;
  color: #fff;
}


.register_prev-button{
  background-color: #283da7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #283da7;
}
.register_prev-button:hover{
  background-color: #fff;
  color: #283da7;
}

 .register_next-button {

  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}
.register_payment-button{
  border-radius: 3px;
  background-color: #28a745;
  margin: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.register_payment-button:hover{
  background-color: #fff;
  color: #28a745;
  border: 2px solid #28a745;

}

.register_success-section {
  border: 2px solid #28a745;
  border-radius: 5px;
  padding: 20px;
  background-color: #eafaf1;
}

.error-message {
  color: red;
  font-size: 14px;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexDir {
  flex-direction: column;
}



.flexEnd{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.flexStart{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.flexCheckBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCheckBox > label{
  width: 100%;
  display: block;
}
.divTag{
  width: 100%;
}

.HomeButton{
  padding: 6px 20px;
  border: 1px solid #000;
  background: #ffffff;
  border-radius: 2px;
  color: #000;
  transition: all .2s linear;
  cursor: pointer;
}
.HomeButton:hover {
  background: #d7ffe0;
}

.note{
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}







.register-form-container {
  padding: 30px;
  border-radius: 3px;
  margin: 10px 0;
  background-color: #fff;
  width: 40%;
 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);

}

.register-btn {
  background-color: #2575fc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s linear;
}

.register-btn:hover {
  background-color: #5090ff;
}

.terms-section {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.terms-section > .checkBox-Terms {
  width: 5%;
}

.loading-overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1100px;
}


.divFormRegister{
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #e8e8e8;
 background: linear-gradient(#00000049,#00000049), url('https://img.freepik.com/free-photo/pieces-blue-stationery_23-2148169528.jpg?t=st=1727249825~exp=1727253425~hmac=f92beb9e706c2f47127fd1e70e84eeeb021c823f31fe1258bb32239689c00514&w=996') center/cover no-repeat;
  
}

/* From Uiverse.io by DaniloMGutavo */ 
.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 3px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.custom-checkbox:checked ~ .checkmark {
  background-color: #2196F3;
  box-shadow: 0 3px 7px rgba(33, 150, 243, 0.3);
}

.custom-checkbox:checked ~ .checkmark:after {
  display: block;
}
.inputLabel{
  display: inline-block;
  padding: 5px 0;
  color: #444444;
}

@keyframes checkAnim {
  0% {
    height: 0;
  }

  100% {
    height: 10px;
  }
}

.custom-checkbox:checked ~ .checkmark:after {
  animation: checkAnim 0.2s forwards;
}
