.webinarrr-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.webinarrr-banner img {
  width: 100%;
  height: auto;
  margin: 10px 0 0 0 ;
}

.webinarrr-content-highlight {
  margin-right: 20px;
  width: 100%;
  background-color: #f4f6fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.webinarrr-content-highlight h2 {
  font-size: 34px;
  color: #6a11cb;

}

.webinarrr-content-highlight h3, .webinarrr-content-highlight h4 {
  font-size: 26px;
  color: #6a11cb;
  margin-bottom: 15px;
}

.webinarrr-content-highlight p {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  margin-bottom: 20px;
}

.webinarrr-topics, .webinarrr-benefits {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.webinarrr-topics li, .webinarrr-benefits li {
  font-size: 16px;
  margin-bottom: 10px;
}

.webinarrr-form-small {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.webinarrr-form-small h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.webinarrr-form-group {
  margin-bottom: 15px;
}

.webinarrr-form-group label {
  display: flex;
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
  width: 100%;
}

.webinarrr-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.webinarrr-checkbox-group {
  display: flex;
}

.webinarrr-checkbox {
  margin-right: 4px;
  width: 5%;
  margin-left: 10px;
}

.webinarrr-accept-terms {
  font-size: 14px;
  color: #555;
}

.webinarrr-btn {
  width: 100%;
  padding: 15px;
  background-color: #6a11cb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.webinarrr-btn:hover {
  background-color: #2575fc;
}

@media screen and (min-width: 768px) {
  .webinarrr-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .webinarrr-form-small {
    max-width: 390px;
  }
  .webinarrr-content-highlight {
    margin-right: 20px;
    width: 100%;
    background-color: #f4f6fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}


}
