/* WebinarProfile.css */

.webinarprofile-container {
  width: 100%;
  margin: 0 auto;
  padding: 30px 150px;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: 'Roboto', sans-serif;
}

.webinarprofile-heading {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #f0f0f0;
}

.webinarprofile-details {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.webinarprofile-name {
  font-size: 26px;
  margin-bottom: 15px;
  color: #f1f1f1;
}

.pad{
  padding: 20px 100px;
  border: 1px solid #585858;
  margin: 20px 50px;
}

.webinarprofile-text {
  font-size: 18px;
  line-height: 1.8;
  margin: 12px 0;
  color: #e0e0e0;
}

.webinarprofile-strong {
  font-weight: bold;
  color: #f0f0f0;
}

.webinarprofile-certificate {
  text-align: center;
  margin-top: 25px;
}

.webinarprofile-btn-primary {
  background-color: #ff6b6b;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.webinarprofile-btn-primary:hover {
  background-color: #ff4757;
}

.webinarprofile-certificate-message {
  color: #ffcccb;
  font-size: 16px;
  margin-top: 20px;
  font-style: italic;
}
.black{
  color: #000000;
  padding: 0 16px;
}

.webinarprofile-info {
  margin-top: 30px;
}

.webinarprofile-subheading {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}

.webinarprofile-list {
  margin-left: 20px;
  list-style: disc;
  color: #040404;
}

.webinarprofile-link {
  color: #ffdd57;
  text-decoration: underline;
}

.webinarprofile-link:hover {
  text-decoration: none;
  color: #fff68f;
}

.exploreeee{
  background: #f0f0f0;
  border: 2px solid #ccd;
  color: #000000;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s linear;
  padding: 6px 20px;
}
.exploreeee:hover{
  background: #2575fc;
  color: #fff;
  border: 2px solid #393939;
}